<footer class="">
  <div class="f-info">
    <div class="f-info-socials">
      <i class="ri-facebook-box-fill"></i>
      <i class="ri-twitter-x-line"></i>
      <i class="ri-instagram-line"></i>
    </div>
    <div class="f-info-brand">
        <p>Staylo &copy; 2025</p>
        <p>All rights reserved</p>
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
