<% layout('/layouts/boilerplate')-%>
<div class="row" mt-3>
  <h1 class="col-6 offset-5">Log In</h1>
  <div class="col-6 offset-3">
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          required
          class="form-control"
          id="username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          required
          class="form-control"
          id="password"
        />
      </div>
      <button class="btn btn-dark">Log In</button>
    </form>
  </div>
</div>
